stages:          # List of stages for jobs, and their order of execution
  - quality_check
  - test

run_checkstyle:
  stage: quality_check
  image: mirror-hub.docker.nexus.ocado.tech/maven:3.8-openjdk-17
  before_script:
    - . "${ALDI_SETUP}"
  script:
    - echo "Navigating to project directory..."
    - cd groceryPickbot
    - echo "Running Checkstyle analysis..."
    - mvn checkstyle:check

run_tests:
  stage: test
  image: mirror-hub.docker.nexus.ocado.tech/maven:3.8-openjdk-17
  before_script:
    - . "${ALDI_SETUP}"
  script:
    - echo "Navigating to project directory..."
    - cd groceryPickbot
    - echo "Running unit tests..."
    - mvn test