stages:          # List of stages for jobs, and their order of execution
  - quality_check

run_checkstyle:
  stage: quality_check
  image: maven:3.8-openjdk-17
  script:
    - echo "Navigating to project directory..."
    - cd groceryPickbot
    - echo "Running Checkstyle analysis..."
    - mvn checkstyle:check