### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/copilot.data.migration.agent.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/frontend/node/
/frontend/node_modules/
/frontend/dist/

### VS Code ###
.vscode/
/target/

###  Static Resources ###
src/main/resources/static/